.cart_con {
    display: flex;
    margin: 20px;
}

.left_cart {
    box-shadow: 4px 8px 2px rgb(200, 120, 120);
}

.table tr img {
    position: relative;
    width: 120px;
    height: 100px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content h4 {
    font-size: 15px;
}

.summary {
    display: flex;
    flex-direction: column;
}

.summary>div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.summary>button {
    margin: 10px;
}
.form_group{
    position: relative;
    display: flex;
}
